table,th,tr,td{
    border: 2px solid black;
    border-collapse: collapse;
    border-color:tomato ;
}
th{
    color:teal;
}
body{
    background-color:silver;
}
 h1{
    color: blueviolet;
 }